/* Página Blog */

.introducao_blog{
    max-width: 100vw;
    height: 130px;
    margin-top: 80px;
    background-color: #5AC4FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts_blog{
    min-height: 500px;
    max-height: 1270px;
    max-width: 100vw;
    padding: 30px 0;
}

.posts_blog>.container{
    flex-direction: column;
}

.data_post{
    font-family: 'Righteous', cursive;
    font-size: 1em;
}

.blog_post{
    height: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.blog_post .post_desktop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_post .post_desktop img{
    width: 220px;
    height: 220px;
}

.blog_post .conteudo_post{
    width: 440px;
    height: 100%;
    padding: 20px 30px;
    font-family: 'Amiri', serif;
    text-align: center;
    background-color: #BEDFEE;
}

.blog_post .btn_blog{
    width: 40px;
    height: 100%;
    background: url('../img/ícones/efeito_btn_blog.svg') no-repeat center;
    background-size: cover;
}

.blog_post .btn_blog:hover{
    background: url('../img/ícones/efeito_btn_blog_branco.svg') no-repeat center;
    background-size: cover;
    transition: 0.5s;
}

.blog_post .post_smartphone{
    width: 100%;
    height: 40px;
    padding-top: 12px;
    font-family: 'Righteous', cursive;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #5AC4FF;
    display: none;
}

.blog_post .post_smartphone:focus{
    color: #5AC4FF;
    background-color: #000;
}

.posts_blog .nav_blog{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.posts_blog .nav_blog a{
    width: 120px;
    height: 30px;
    padding-top: 7px;
    font-family: 'Righteous', cursive;
    text-align: center;
    text-transform: uppercase;
    background-color: #5AC4FF;
}

/* POSTS */

.intro_erro .titulo:after, .intro_erro .titulo:before{
    display: none;
}

.conteudo_geral{
    min-height: 820px;
    padding: 30px 0;
    flex-direction: column;
}

.conteudo_geral>*{
    margin-top: 20px;
}

.conteudo_geral>div:nth-child(1){
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo_geral .img_post:nth-child(1){
    height: 580px;
}

.conteudo_geral .img_post:nth-child(2){
    height: 300px;
    display: none;
}

.conteudo_geral .texto_post{
    height: 580px;
    padding: 20px;
    font-family: 'Amiri', serif;
    line-height: 20px;
    background-color: #5AC4FF;
}

.conteudo_geral .texto_post_opcional{
    min-height: 80px;
    padding: 20px;
    font-family: 'Amiri', serif;
    line-height: 20px;
    background-color: #5AC4FF;
}

.conteudo_geral>div:nth-last-child(1){
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.conteudo_geral .btn_voltar{
    width: 120px;
    height: 30px;
    padding-top: 5px;
    font-family: 'Righteous', cursive;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: #5AC4FF;
}

.conteudo_geral .btn_voltar:hover{
    color: #fff;
}

.blog{
    min-height: 700px!important;
    background-color: #5AC4FF;
}

.div_post{
    min-height: 620px!important;
}

.blog .descricao_post{
    background-color: #F8C0FF;
}

.blog .tumb h3{
    background-color: rgba(248, 192, 255, 0.5);
}